*{
    margin: 0;
    padding: 0;
} 
header{
    display: flex;
    justify-content: center;
}    
.cart-button{
    margin-bottom: 50px;
    margin-top: 15px;
    width: 58px;
} 
div{
    display: flex;
    justify-content: space-around;
}
.goods-item{
flex-direction: column;    
}
.buy-button{
    margin-bottom: 50px;
    margin-top: 15px;
    width: 58px;
}
